/*body{
font: normal 100% 'Arial','Helvetica','Verdana',sans-serif;
color: #333;
}*/
p {
padding: 12px 0;
margin: 0;
font-size: .8em;
line-height: 1.5;
}
form {
margin: 0;
}
#search_box {
width: 201px;
height: 31px;
background: url(./Designs/search_box.gif);
}
#search_box #s {
float: left;
padding: 0;
margin: 6px 0 0 6px;
border: 0;
width: 159px;
background: none;
font-size: .8em;
}
#search_box #go {
float: right;
margin: 3px 4px 0 0;
}
td.result{
	width:130px;
	height:150px;
	overflow:hidden;
	text-align: center;
	vertical-align: top;
}